{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
	{% if choice == 'edit' %}
		Edit Answers
	{% endif %}
{% endblock %}


{% block content %}

<div class="container">
  <div class="row pb-5">
    <div class="col-lg-10 mx-lg-auto">

      <h1 class="pt-5 pb-2">
	  	{% elif choice == 'edit' %}
	  		Edit your answers
	  	{% endif %}
	  </h1>
	  <!-- ----- THIS TEMPLATE HAS TWO FORMS ----- -->
	  <!-- but only one will be visible, depending on how the template
  		   was opened -->

		<!-- table showing loaded record -->
		<table class="table">
			<tr>
				<th>Grade</th>
				<th>Grade Score</th>
				<th>Region</th>
				<th>Updated</th>
			</tr>

			<!-- just one record here -->
			<tr>
				<td>{{ questions.ALLGRADEX }}</td>
				<td>{{ questions.SEGRADES }}</td>
				<td>{{ questions.CENREG }}</td>
				<td>{{ questions.updated }}</td>
			</tr>

		</table>

		<!-- ----- start edit sock content ----- -->

		<p class="lead alert alert-success">Edit your answers below.</p>

		<!-- links -->
		<p><a href="{{ url_for('index') }}">Return to the index.</a></p>

		<p><a href="{{ url_for( 'select_record', letters='AF' ) }}">Return to the selection page.</a></p>

		<!-- show flash - based on WTForms validators
			 see https://pythonprogramming.net/flash-flask-tutorial/
			 get_flashed_messages() exists here because of flash()
			 in the route function
			 -->
			 {% with errors = get_flashed_messages() %}
				 {% if errors %}
					 {% for err in errors %}
					 <div class="alert alert-danger alert-dismissible" role="alert">
						 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						 {{ err }}
					 </div>
					 {% endfor %}
				 {% endif %}
			 {% endwith %}
		<!-- end of flash -->

		<!-- start form for editing record
			 correct use of WTF Bootstrap styles -->
		<form method="post" action="{{ url_for('edit_result') }}" id="update">
			{{ form1.csrf_token }}
			{{ form1.id_field(value=questions.id) }}
			{{ wtf.form_field(form1.ALLGRADEX, value=questions.ALLGRADEX) }}
			{{ wtf.form_field(form1.SEGRADES, value=questions.SEGRADES) }}
			{{ wtf.form_field(form1.CENREG, value=questions.CENREG) }}
			{{ wtf.form_field(form1.submit, button_map={'submit':'success'}) }}
		</form>

		<script>
		// this JavaScript fixes the style choice in the select element
		// without this, the current value is not shown in the menu
		if ( document.querySelector('select') ) {
			document.querySelector('select').value = "{{ sock.style }}";
		}
		</script>

		{% endif %}

		</div>
	</div>
</div>


{% endblock %}
