{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Student Success Survey
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Welcome to the Student Success Survey</h1>

      <p class="lead">Here you can submit your answers to the questions from the NHES survey. You will be provided with an analysis of your student's predicted success.</p>

	  <!-- links -->
	  <p>You can <a href="{{ url_for('add_record') }}">Submit your answers</a>.</p>
    <p>You can <a href="{{ url_for( 'select_record' ) }}">View previous answers</a>.</p>

    </div>
  </div>
</div>

{% endblock %}
