<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Success Survey</title>
</head>
<body>
    <div class="rendered-form">
        <div class="">
            <h1 access="false" id="control-6362990">Student Success Survey<br></h1></div>
        <div class="formbuilder-number form-group field-ALLGRADEX">
            <label for="ALLGRADEX" class="formbuilder-number-label">What is this child’s current grade, grade equivalent, or year of school?</label><br>
            <input type="number" class="form-control" name="ALLGRADEX" access="false" value="1" min="1" max="12" id="ALLGRADEX">
        </div>
    </div>   
</body>
</html>
